<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header4></app-header4>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
        <!-- INNER PAGE BANNER -->
        <app-section-page-banner [data]="banner"></app-section-page-banner>
        <!-- INNER PAGE BANNER END -->
        
        <!-- SECTION CONTENT START -->
        <app-section-project-carousel1 [data]='carousel1'></app-section-project-carousel1>
        <!-- SECTION CONTENT END  -->  
                   
        <!-- SECTION CONTENT START -->
        <app-section-project-carousel2 [data]='carousel2'></app-section-project-carousel2>
        <!-- SECTION CONTENT END  -->
        
        <!-- SECTION CONTENT START -->
        <app-section-project-carousel3 [data]='carousel3'></app-section-project-carousel3>
        <!-- SECTION CONTENT END  -->            
        
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->

</div>