<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header4></app-header4>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-section-page-banner [data]="banner"></app-section-page-banner>
        <!-- INNER PAGE BANNER END -->
         
        <!-- WHAT WE DO START -->
        <app-section-what-we-do1 [data]='whatwedo'></app-section-what-we-do1>
        <!-- WHAT WE DO END --> 
        
        <!-- Services -->
        <app-section-services3 [data]='services'></app-section-services3> 
        <!-- WHAT WE DO END -->
        
        <!-- OUR SPECIALLIZATION START -->
        <app-section-specializations1 [data]='specializations'></app-section-specializations1>  
        <!-- OUR SPECIALLIZATION END -->  
                        
        <!-- CLIENT LOGO SECTION START -->
        <app-section-clients3 [data]='clients'></app-section-clients3>
        <!-- CLIENT LOGO  SECTION End -->
                            
    <!-- CONTENT END -->
    
    </div>        
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
   
</div>