<div class="section-full p-tb80 column-grid-4 inner-page-padding">

    <!-- GALLERY CONTENT START -->
    <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
            <div class="sx-separator-outer separator-center">
                <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                    <h3 class="sep-line-one">{{data.title}}</h3>
                </div>
            </div>
        </div>                   
        <!-- TITLE END -->                  
        <!-- Filter Nav START -->
      <div class="filter-wrap p-b30 text-center">
            <ul class="filter-navigation masonry-filter clearfix">
                <li class="active"><a class="btn from-top" data-filter="*" href="javascript:void(0);" data-hover="All">All</a></li>
                <li><a class=" btn from-top" data-filter=".cat-1" href="javascript:void(0);">Architecture</a></li>
                <li><a class=" btn from-top" data-filter=".cat-2" href="javascript:void(0);">Decore</a></li>
                <li><a class=" btn from-top" data-filter=".cat-3" href="javascript:void(0);">Outdoor</a></li>
                <li><a class=" btn from-top" data-filter=".cat-4" href="javascript:void(0);">Interiors </a></li>
                <li><a class=" btn from-top" data-filter=".cat-5" href="javascript:void(0);">Residential</a></li>
            </ul>
        </div>
        <!-- Filter Nav END -->                
        <!-- GALLERY CONTENT START -->
         <ul id="load-more-item-5" class="masonry-outer mfp-gallery work-grid row clearfix list-unstyled grid-5">
            <!-- COLUMNS 1 -->
            <li *ngFor="let object of data.projects" class="masonry-item {{object.category}} col-xl-3 col-lg-4  col-md-6 col-sm-12 m-b30">
                <div class="project-mas hover-shadow">
                    <div class="image-effect-one">
                      <img src="{{object.image}}" alt="" />
                        <div class="figcaption">
                            <a class="mfp-link" href="{{object.image}}">
                                <i class="fa fa-arrows-alt"></i>
                            </a>  
                        </div>
                    </div> 
                    <div class="project-info p-a20 bg-gray">
                        <h4 class="sx-tilte m-tb0"><a routerLink="/projects/project-detail1">{{object.title}}</a></h4>
                        
                        <a href="javascript:void(0);"><i class="link-plus bg-primary"></i></a>
                    </div>
                </div>                                                       
            </li>

                                                                      
         </ul>
        <!-- GALLERY CONTENT END --> 
        <div class="text-center load-more-btn-outer" style="background-image:url(assets/images/background/cross-line.png)">
            <button id="loadMorebtn-5" class="site-button-secondry btn-half"><span>Load More</span></button>
        </div>                     
    </div>
    <!-- GALLERY CONTENT END -->

</div>