<header class="site-header header-style-1 nav-wide mobile-sider-drawer-menu">
    <div class="top-bar bg-gray">
        <div class="container">
            <div class="d-flex justify-content-end">
                <ul class="list-unstyled e-p-bx">
                    <li><span>Mail us:</span> 7xthemehelp@gmail.com</li>
                    <li><span>Call us:</span>(075) 123-7654</li>
                </ul>
            </div>
        </div>
    </div>  
    <div  class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar header-left-gray-block bg-white">
            <div class="container clearfix">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/index">
                            <img src="assets/images/logo-1.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>
                
                    <!-- EXTRA NAV -->
                    <div class="extra-nav">
                        <div class="extra-cell">											
                            <a id="#search">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <div class="extra-cell">
                            <div class="contact-slide-show"><a href="javascript:void(0);" class="get-in-touch-btn from-top">Get in touch</a></div>
                        </div>                                                                   
                    </div>
                    <!-- EXTRA Nav -->
                                            
                    <!-- MAIN NAVIGATION -->
                    <div class="header-nav nav-dark navbar-collapse collapse justify-content-start collapse">
                        <ul class=" nav navbar-nav">
                            <li class="active">
                                <a href="javascript:void(0);">Home</a>
                                 <ul class="sub-menu">
                                    <li><a routerLink="/index">Home-1</a></li>
                                    <li><a routerLink="/index2">Home-2</a></li>
                                    <li><a routerLink="/index3">Home-3</a></li>
                                    <li><a routerLink="/index4">Home-4</a></li>
                                    <li><a routerLink="/index5">Home-5</a></li>                                                                                                                                  
                                </ul>                                                    
                            </li>

                            <li>
                                <a href="javascript:void(0);">About us</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/about/about1">About-1</a></li>
                                    <li><a routerLink="/about/about2">About-2</a></li>
                                </ul>                                                
                            </li>
                              
                            <li>
                                <a href="javascript:void(0);">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0);">Services</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/services/services1">Services-1</a></li>
                                            <li><a routerLink="/services/services2">Services-2</a></li>
                                            <li><a routerLink="/services/services-detail">Service Detail</a></li>
                                        </ul>                                                
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Team</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/team/team1">Our Team-1</a></li>
                                            <li><a routerLink="/team/team2">Our Team-2</a></li>
                                            <li><a routerLink="/team/team-single">Team Detail</a></li>
                                        </ul>                                                
                                    </li>
                                    <li><a routerLink="/other/our-history">Our History</a></li>                                                                                        
                                    <li><a routerLink="/other/icon-font">Fonts Icons </a></li>                                                                                     
                                    <li><a routerLink="/other/error404">Error 404</a></li>
                                                                                 
                                </ul>
                            </li>
                            
                            <li>
                                <a href="javascript:void(0);">Projects</a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:void(0);">Project Grid Type</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/projects/project-grid3-columns">3 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-grid4-columns">4 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-grid5-columns">5 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>                                            
                                    </li>
                                    <li><a href="javascript:void(0);">Project Masonry Type</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/projects/project-masonry3-columns">3 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-masonry4-columns">4 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-masonry5-columns">5 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>                                            
                                    </li>
                                    <li><a routerLink="/projects/project-carousel">Project Carousel</a></li>
                                    <li><a href="javascript:void(0);">Project Detail</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/projects/project-detail1">Project Detail-1</a></li>
                                                <li><a routerLink="/projects/project-detail2">Project Detail-2</a></li>
                                            </ul>                                            
                                    </li>                                        
                                </ul>
                            </li>
                                                                
                            <li>
                                <a href="javascript:void(0);">Blog</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/blog/blog-grid">Blog Grid</a></li>
                                    <li><a routerLink="/blog/blog-listing">Blog Listing</a></li>
                                    <li><a routerLink="/blog/blog-masonry">Blog Masonry</a></li>
                                    <li><a routerLink="/blog/blog-single">Blog Single</a></li>
                                    <li><a routerLink="/blog/post-right-sidebar">Post Right Sidebar</a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Shop</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/shop/shop">Shop Grid</a></li>
                                    <li><a routerLink="/shop/shop-list">Shop List</a></li>
                                    <li><a routerLink="/shop/shop-detail">Shop Detail</a></li>
                                    <li><a routerLink="/shop/shop-myaccount">My Account</a></li>
                                    <li><a routerLink="/shop/shop-cart">Cart</a></li>
                                    <li><a routerLink="/shop/shop-checkout">Checkout</a></li> 
                                </ul>
                            </li>                                                                                                                                                                                                                                                                                    

                            <li><a routerLink="/other/faq">FAQ</a></li>
                            <li><a routerLink="/other/contact1">Contact us</a></li>                                    
                       
                        </ul>
                    </div>
                                            
                    <!-- CONTACT -->                            
                     <div class="contact-slide-hide" style="background-image:url(assets/images/background/bg-map.png)">
                        <div class="contact-nav">
                             <a href="javascript:void(0)" class="contact_close">&times;</a>
                             <div class="contact-nav-form">
                                 <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12">
                                    
                                        <div class=" contact-nav-info">
                             
                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Phone number</h6>
                                                    <p>(075) 123-7654</p>
                                                </div>
                                            </div>
                                            
                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Email address</h6>
                                                    <p>7xthemehelp@gmail.com</p>
                                                </div>
                                            </div>
                                            
                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Address info</h6>
                                                    <p>201 Liverpool Street, Suite 721, London</p>
                                                </div>
                                            </div>
                                            
                                            <div class="full-social-bg">
                                                  <ul>
                                                        <li><a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="https://www.google.com" class="google"><i class="fa fa-google"></i></a></li>
                                                        <li><a href="https://www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="https://www.tumblr.com" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                                        <li><a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="https://www.youtube.com" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                                  </ul>
                                            </div>
                                            
                                         </div>     
                                      
                                    </div>                                          


                                    <div class="col-xl-6 col-lg-6 col-md-12 ">
                                        <div class="contact-nav-field shadow-lg p-a30 bg-white" style="background-image:url(assets/images/background/bg-map.png)">
                                        <form class="cons-contact-form2 form-transparent" method="post" action="form-handler2.php">
                                          
                                            <div class="input input-animate">
                                                <label for="name">Name</label>
                                                <input type="text" name="username" id="name" required>
                                                <span class="spin"></span>
                                            </div>
                                            
                                            <div class="input input-animate">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" required>
                                                <span class="spin"></span>
                                            </div> 
                                            
                                            <div class="input input-animate">
                                                <label for="Phone">Phone</label>
                                                <input type="text" name="phone" id="Phone" required>
                                                <span class="spin"></span>
                                            </div>   
                                            
                                            <div class="input input-animate">
                                                <label for="message">Textarea</label>
                                                <textarea name="message" id="message" required></textarea>
                                                <span class="spin"></span>
                                            </div>
                                            
                                            <div class="text-left p-t10">
                                                <button type="submit" class="site-button-secondry btn-half ">
                                                 <span>  Submit Now</span>
                                                </button>
                                            </div>    
                                        </form>
                                        </div>
                                    </div>  
                                 </div>                                                                                                           			
                             </div>
                              
                        
                        </div> 
                    </div> 
                                                  
                    <!-- SITE SEARCH -->
                    <div id="search"> 
                        <span class="close"></span>
                        <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                            <div class="input-group">
                                <input value="" name="q" type="search" placeholder="Type to search"/>
                                <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search arrow-animation"></i></button></span>
                            </div>   
                        </form>
                    </div>                                                                                                          
                    

                    
            </div>
        </div>
    </div>
</header>