<header class="site-header header-style-1 nav-wide mobile-sider-drawer-menu">
    <div class="top-bar bg-gray">
        <div class="container">
            <div class="d-flex justify-content-end">
                <ul class="list-unstyled e-p-bx">
                    <li><span>Correo Electrónico:</span><a class="contact-media" href="mailto:chimeneas_villaseñor@yahoo.com.mx">chimeneas_villaseñor@yahoo.com.mx</a></li>
                    <li><span>Teléfono:</span><a class="contact-media" href="tel:5512883155">55-1288-3155</a></li>
                </ul>
            </div>
        </div>
    </div>  
    <div  class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar header-left-gray-block bg-white">
            <div class="container clearfix">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/index">
                            <img src="assets/images/LogoH.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>
                
                    <!-- EXTRA NAV -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <div class="contact-slide-show"><a href="javascript:void(0);" class="get-in-touch-btn from-top">Contactanos</a></div>
                        </div>                                                                   
                    </div>
                    <!-- EXTRA Nav -->
                                            
                    <!-- MAIN NAVIGATION -->
                    <div class="header-nav nav-dark navbar-collapse collapse justify-content-start collapse">
                        <ul class=" nav navbar-nav">
                            <li class="active">
                                <a href="/">Inicio</a>
                                           
                            </li>

                            <li><a routerLink="/">Cotizaciones</a></li>                                    
                       
                        </ul>
                    </div>
                                            
                    <!-- CONTACT -->                            
                     <div class="contact-slide-hide" style="background-image:url(assets/images/background/bg-map.png)">
                        <div class="contact-nav">
                             <a href="javascript:void(0)" class="contact_close">&times;</a>
                             <div class="contact-nav-form">
                                 <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12">
                                    
                                        <div class=" contact-nav-info">
                             
                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Teléfonos</h6>
                                                    <p>55-1288-3155</p>
                                                    <p>55-5306-3044</p>
                                                    <p>55-5306-5450</p>
                                                    

                                                </div>
                                            </div>
                                            
                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Correo Electrónico</h6>
                                                    <p>chimeneas_villaseñor@yahoo.com.mx</p>
                                                </div>
                                            </div>
                                            
                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Dirección</h6>
                                                    <p>Cuauhtemoc No. 95, 07210 Gustavo A. Madero, Ciudad México</p>
                                                </div>
                                            </div>
                                                                                     
                                         </div>     
                                      
                                    </div>                                          


                                    <div class="col-xl-6 col-lg-6 col-md-12 ">
                                        <div class="contact-nav-field shadow-lg p-a30 bg-white" style="background-image:url(assets/images/background/bg-map.png)">
                                        <form class="cons-contact-form2 form-transparent" method="post" action="" hidden >
                                          
                                            <div class="input input-animate">
                                                <label for="name">Name</label>
                                                <input type="text" name="username" id="N" required>
                                                <span class="spin"></span>
                                            </div>
                                            
                                            <div class="input input-animate">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" required>
                                                <span class="spin"></span>
                                            </div> 
                                            
                                            <div class="input input-animate">
                                                <label for="Phone">Phone</label>
                                                <input type="text" name="phone" id="Phone" required>
                                                <span class="spin"></span>
                                            </div>   
                                            
                                            <div class="input input-animate">
                                                <label for="message">Textarea</label>
                                                <textarea name="message" id="message" required></textarea>
                                                <span class="spin"></span>
                                            </div>
                                            
                                            <div class="text-left p-t10">
                                                <button type="submit" class="site-button-secondry btn-half ">
                                                 <span>  Submit Now</span>
                                                </button>
                                            </div>    
                                        </form>
                                        </div>
                                    </div>  
                                 </div>                                                                                                           			
                             </div>
                              
                        
                        </div> 
                    </div>                     
            </div>
        </div>
    </div>
</header>