<div class="section-full p-tb80 mobile-page-padding bg-center bg-no-repeat bg-fixed" style="background-image:url(assets/images/background/bg-form.jpg);">
    <div class="section-content">
        <div class="container get-in-touch-form">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-left">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Contact Us</h3>
                    </div>
                </div>
            </div>                   
            <!-- TITLE END -->                         
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="contact-home1-left contact-home1-left-v2 shadow-lg bg-white p-a30" style="background-image:url(assets/images/background/bg-map.png)">
                        <form class="cons-contact-form2 form-transparent" method="post" action="form-handler2.php">
                          
                            <div class="input input-animate">
                                <label for="name">Name</label>
                                <input type="text" name="username"  id="name" required>
                                <span class="spin"></span>
                            </div>
                            
                            <div class="input input-animate">
                                <label for="email">Email</label>
                                <input type="email" name="email"   id="email" required>
                                <span class="spin"></span>
                            </div> 
                            
                            <div class="input input-animate">
                                <label for="Phone">Phone</label>
                                <input type="text" name="phone"  id="Phone" required>
                                <span class="spin"></span>
                            </div>   
                            
                            <div class="input input-animate">
                                <label for="message">Textarea</label>
                                <textarea name="message"  id="message" required></textarea>
                                <span class="spin"></span>
                            </div>
                            
                            <div class="text-left p-t10">
                                <button type="submit" class="site-button-secondry btn-half ">
                                 <span>  Submit Now</span>
                                </button>
                            </div>    
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
      
</div>