<div class="footer-fixed">
    <div class="page-wraper"> 
       	
        <!-- HEADER START -->
        <app-header2></app-header2>
        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- SLIDER START -->
            <app-section-slider2></app-section-slider2>
            <!-- SLIDER END --> 
                    
            <!-- ABOUT COMPANY START -->
            <app-section-about2 [data]='about'></app-section-about2>   
            <!-- ABOUT COMPANY END -->
                             
            <!-- WHAT WE DO START -->
            <app-section-what-we-do2 [data]='whatwedo'></app-section-what-we-do2> 
            <!-- WHAT WE DO END -->
            
            <!-- ALL PROJECTS START -->
            <app-section-projects2 [data]='projects'></app-section-projects2>  
            <!-- WHAT WE DO END -->              

            <!-- OUR TEAM START -->
            <app-section-team2 [data]='team'></app-section-team2>   
            <!-- OUR TEAM END -->          

            <!-- OUR SERVICES START -->
            <app-section-services2 [data]='services'></app-section-services2>   
            <!-- OUR SERVICES END -->
            
            <!-- OUR BLOG START -->
            <app-section-blogs1 [data]='blogs'></app-section-blogs1>  
            <!-- OUR BLOG END -->                        

            <!-- COUNTER START -->
            <app-section-counter1 [data]='counter'></app-section-counter1>  
            <!-- COUNTER  END -->
                        
            <!-- TESTIMONIAL START -->
            <app-section-testimonials2 [data]='testimonials'></app-section-testimonials2>  
            <!-- TESTIMONIAL  END -->            
                                
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        <app-footer1 [data]='footerData'></app-footer1>
        <!-- FOOTER END -->
     
    </div>
</div>