    <div  class="side-bar p-a30 bg-gray">
       
           <!-- SEARCH -->
           <div class="widget">
               <h4 class="widget-title ">Search</h4>
               <div class="search-bx p-a10 bg-white">
                   <form role="search" method="post">
                       <div class="input-group">
                           <input name="news-letter" type="text" class="form-control bg-gray" placeholder="Write your text">
                           <span class="input-group-btn bg-gray">
                               <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                           </span>
                       </div>
                   </form>
               </div>
           </div>

           <!--PRICE RANGE SLIDER-->
           <div *ngIf="withShop=='1'" class="widget product-range-slider1">
                                   
            <div class="m-b30">
                <h4 class="widget-title">Price Range</h4>
            </div>                                       
          
            <div class="shop-item-price-slider">
                <b>$ {{data.priceRange.min}}</b> 
                <input id="ex2" type="text" class="span2" value="" attr.data-slider-min="{{data.priceRange.min}}" attr.data-slider-max="{{data.priceRange.max}}" data-slider-step="5" attr.data-slider-value="[{{data.priceRange.minValue}},{{data.priceRange.maxValue}}]"/> 
                <b>$ {{data.priceRange.max}}</b>
            </div>
            
        </div>
        
           <!-- RECENT POSTS -->
           <div class="widget  recent-posts-entry">
               <h4 class="widget-title  ">Recent Posts</h4>
               <div class="section-content p-a10 bg-white">
                   <div class="widget-post-bx">
                       <div class="widget-post clearfix" *ngFor="let object of data.recentPosts">
                           <div class="sx-post-media">
                               <img src="{{object.image}}" alt="">
                           </div>
                           <div class="sx-post-info">
              
                               <div class="sx-post-header">
                                   <h6 class="post-title">{{object.title}}</h6>
                               </div>
                               <div class="sx-post-meta">
                                   <ul>
                                       <li class="post-author">{{object.date}}</li>
                                   </ul>
                               </div>                                                             
                           </div>
                       </div> 
                   </div>
               </div>
           </div>  
                                             
            <!-- Categories  -->                                   
           <div class="widget widget_services ">
                   <h4 class="widget-title">Categories</h4>
                   <ul class="p-a10 bg-white">
                       <li *ngFor="let object of data.categories">
                           <a routerLink="/about/about1">{{object.title}}<span> ({{object.value}})</span></a>
                        </li>
                   </ul>
               </div>  
                                                     
            <!-- NEWSLETTER -->
           <div class="widget widget_newsletter-2">
               <h4 class="widget-title  ">Newsletter</h4>
               <div class="newsletter-bx p-a10 bg-white">
                   <div class="newsletter-content">
                       <p>Subscribe to our mailing list to get the update to your email.</p>
                    </div>
                    <div class="m-t20">
                       <form role="search" method="post">
                       <div class="input-group">
                           <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                           <span class="input-group-btn">
                               <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                           </span>
                       </div>
                   </form>
                   </div>
               </div>
           </div> 

           <!-- OUR archive  -->
           <div *ngIf="withShop=='1'" class="widget widget_archives">
            <div class="m-b30">
                <h4 class="widget-title">Archives</h4>
            </div>
            <ul class="p-a10 bg-white">
                <li *ngFor="let object of data.archives">
                    <a routerLink="/about/about1">{{object}}</a>
                </li>
            </ul>
        </div>
                                                       
           <!-- OUR GALLERY  -->
           <div class="widget widget_gallery mfp-gallery">
               <h4 class="widget-title  ">Our Gallery</h4>
               <ul class="p-a10 bg-white clearfix">
                   <li *ngFor="let object of data.gallery">
                       <div class="sx-post-thum">
                           <a href="{{object.thumb}}" class="mfp-link" ><img src="{{object.src}}" alt=""></a>
                       </div>
                   </li>                   
               </ul>
           </div> 

           <!-- TAGS -->
           <div class="widget widget_tag_cloud">
               <h4 class="widget-title">Tag Cloud</h4>
               <div class="tagcloud p-a10 bg-white">
                   <a routerLink="/about/about1" *ngFor="let object of data.tags">{{object}}</a>                   
               </div>
           </div> 
       
      </div>