<div class="section-full overlay-wraper sx-bg-secondry mobile-page-padding  p-t80 p-b50 bg-parallax ml-auto"  data-stellar-background-ratio="0.5" style="background-image:url(assets/images/background/bg-1.jpg)">
    <div class="overlay-main bg-black opacity-05"></div>
    <div class="container">
        <div class="section-content">

            <div class="counter-blocks">
                <div class="row">
                    <div class="col-xl-3 col-md-6 m-b30" *ngFor="let object of data">
                        <div class="sx-count text-white sx-icon-box-wraper bg-repeat p-a30" style="background-image:url(assets/images/background/bg-5.png)">
                            <h2 class="m-t0 sx-text-primary text-right"><span class="counter">{{object.count}}</span></h2>
                            <h4 class="m-b0">{{object.title}}</h4>
                        </div> 
                    </div>                                                                                                                       
                </div>
            </div>                                   

       </div>
   </div>

</div> 