<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header3></app-header3>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">

        <!-- SLIDER START -->
        <app-section-slider3></app-section-slider3>
        <!-- SLIDER END --> 
                
        <!-- ABOUT COMPANY START -->
        <app-section-about3 [data]='about'></app-section-about3>
        <!-- ABOUT COMPANY END -->
        
        <!-- OUR AWARDS SECTION START -->
        <app-section-awards1 [data]='awards'></app-section-awards1>
        <!-- OUR AWARDS SECTION END -->                  
                         
        <!-- WHAT WE DO START -->
        <app-section-what-we-do3 [data]='whatwedo'></app-section-what-we-do3> 
        <!-- WHAT WE DO END -->  
        
        <!-- PROJECTS START -->
        <app-section-projects3 [data]='projects'></app-section-projects3>
        <!-- PROJECTS END --> 
                      
        <!-- OUR BLOG START -->
        <app-section-blogs2 [data]='blogs'></app-section-blogs2> 
        <!-- OUR BLOG END -->  
          
        <!-- OUR SPECIALLIZATION START -->
        <app-section-services2 [data]='services'></app-section-services2>  
        <!-- OUR SPECIALLIZATION END -->
        
        <!-- Our PRICING PLAN -->
        <app-section-pricing1 [data]='pricing'></app-section-pricing1>
        <!-- Our PRICING PLAN -->
                    
        <!-- CONTACT FORM START -->
        <app-section-contact1></app-section-contact1> 
        <!-- CONTACT FORM  END --> 
                   
        <!-- CLIENT LOGO SECTION START -->
        <app-section-clients2 [data]='clients'></app-section-clients2>
        <!-- CLIENT LOGO  SECTION End -->
                          
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer2></app-footer2>
    <!-- FOOTER END -->
   
</div>