<div class="section-full p-tb80 bg-gray inner-page-padding">
    <div class="container">
        <div class="section-content">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-left">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Carousel style 3</h3>
                    </div>
                </div>
            </div>                   
            <!-- TITLE END -->                                 
            <div class="work-carousel-outer">
                <div class="owl-carousel mfp-gallery project-carousel project-carousel1 owl-btn-vertical-center">
                    <!-- COLUMNS 1 -->
                    <div class="item" *ngFor="let object of data">
                        <app-elements-box7 [data]='object'></app-elements-box7>
                    </div>                                                                                   
                 </div>
            </div> 
         </div>
     </div>
 </div>           