<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- SLIDER START -->
        <app-section-slider4></app-section-slider4>
        <!-- SLIDER END -->         

        <!-- ABOUT COMPANY START -->
        <app-section-about1 [data]='about'></app-section-about1>  
        <!-- ABOUT COMPANY END -->
                         
        <!-- WHAT WE DO START -->
        <app-section-what-we-do1 [data]='whatwedo'></app-section-what-we-do1>  
        <!-- WHAT WE DO END --> 

        <!-- TESTIMONIAL START -->
        <app-section-testimonials1 [data]='testimonials'></app-section-testimonials1>
        <!-- TESTIMONIAL  END -->
        
        <!-- OUR SERVICES START -->
        <app-section-services1 [data]='services'></app-section-services1>
        <!-- OUR SERVICES  END -->
        
        <!-- PROJECTS START -->
        <app-section-projects1 [data]='projects'></app-section-projects1>
        <!-- PROJECTS  END -->            
                    
        <!-- OUR CLIENTS -->
        <app-section-clients1 [data]='clients'></app-section-clients1>   
        <!-- OUR CLIENTS END --> 
        
        <!-- OUR TEAM START -->
        <app-section-team1 [data]='team'></app-section-team1>
        <!-- OUR Team END -->             
                            
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
          
</div>