<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- SLIDER START -->
        <app-section-slider1></app-section-slider1>
        <!-- SLIDER END -->         

        <!-- ABOUT COMPANY START -->
        <app-section-about1 [data]='about'></app-section-about1>
        <!-- ABOUT COMPANY END -->

                            
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
          
</div>