<div class="our-team-2 ">
    <div class="profile-image">
      <img src="{{data.image}}" alt="" />
       <div class="icons">
          <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com"> <i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com"> <i class="fa fa-instagram"></i></a>
          <a href="https://in.linkedin.com"> <i class="fa fa-linkedin"></i></a>                                        
      </div>                                            
    </div>
    <div class="figcaption text-black">
        <h4 class="m-t0"><a routerLink="/team/team-single">{{data.name}}</a></h4>
        <span class="m-b0">{{data.role}}</span>
    </div>
</div>