<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header4></app-header4>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-section-page-banner [data]="banner"></app-section-page-banner>
        <!-- INNER PAGE BANNER END -->
         
        <!-- OUR SERVICES START -->
        <app-section-services1 [data]='services'></app-section-services1>
        <!-- OUR SERVICES  END -->
        
        <!-- ABOUT COMPANY START -->
        <app-section-about3 [data]='about' colorInvert='1'></app-section-about3>
        <!-- ABOUT COMPANY END -->          

        <!-- COUNTER START -->
        <app-section-counter1 [data]='counter'></app-section-counter1>  
        <!-- COUNTER  END -->
                    
        <!-- TESTIMONIAL START -->
        <app-section-testimonials2 [data]='testimonials'></app-section-testimonials2>    
        <!-- TESTIMONIAL  END -->  
                    
        <!-- CONTENT END -->
    
        <!-- FOOTER START -->
        <app-footer1 [data]='footerData'></app-footer1>
        <!-- FOOTER END -->
    
    </div>
</div>