<div class="section-full mobile-page-padding p-t80 p-b80 bg-gray">
    <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 ">
                        <div class="home-2-about bg-bottom-left bg-no-repeat bg-cover" style="background-image:url({{data.image}});">
                        
                        </div>
                    </div>
                    
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-home-2">
                            <h3 class="m-t0 sx-tilte">{{data.title}}</h3>
                            <p>{{data.description}}</p>
                            <div class="text-left">
                                <a routerLink="/about/about2" class="site-button-link">Read More</a>
                            </div>                                                    
                        </div>
                    </div>
                    
                </div>
           </div>
     </div>
   
</div>