<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header5></app-header5>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- SLIDER START -->
        <app-section-slider6></app-section-slider6>
        <!-- SLIDER END --> 

        <!-- WHAT WE DO START -->
        <app-section-what-we-do1 [data]='whatwedo' sectional='0'></app-section-what-we-do1>
        <!-- WHAT WE DO END --> 
                
        <!-- SECTION CONTENT START -->
        <app-section-projects4 [data]='projects'></app-section-projects4>
        <!-- SECTION CONTENT END  -->
        
        <!-- SECTION CONTENT START -->
        <app-section-similar-projects4 [data]='similarproj'></app-section-similar-projects4>           
        <!-- SECTION CONTENT END  --> 
        
        <!-- OUR SPECIALLIZATION START -->
        <app-section-services2 [data]='services'></app-section-services2> 
        <!-- OUR SPECIALLIZATION END -->
                   
        <!-- CLIENT LOGO SECTION START -->
        <app-section-clients2 [data]='clients'></app-section-clients2>
        <!-- CLIENT LOGO  SECTION End -->           
                            
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
  
</div>