<div class="bgcall-block d-flex flex-wrap justify-content-center align-content-end bg-cover overlay-wraper" style="background-image:url({{data.image}})">
    <div class="overlay-main bg-black opacity-05"></div>
    <div class="bg-content-mid-outer">
        <div class="bg-content-mid">
            <div class="sx-icon-box-wraper center   text-white">
                <div class="icon-lg m-b15">
                    <span class="icon-cell"><i class="{{data.icon}}"></i></span>
                </div>
                <div class="icon-content m-b30">
                    <h4 class="sx-tilte"> <a routerLink="/services/services-detail" class="sx-text-white">{{data.title}}</a></h4>
                    <p>{{data.description}}</p>
                </div>                                        
            </div>
            <span class="bgcall-block-number">{{data.serial}}</span>
            <div class="bg-overlay"></div>
        </div>
    </div>
</div>