<header class="site-header nav-wide nav-transparent mobile-sider-drawer-menu">
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar">
      
            <div class="container clearfix">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/index">
                            <img src="assets/images/logo-light.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>
                
                    <!-- EXTRA NAV -->
                    <div class="extra-nav">
                        <div class="extra-cell">											
                            <a id="#search">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <!-- EXTRA Nav -->
                                            
                    <!-- MAIN NAVIGATION -->
                    <div class="header-nav nav-dark navbar-collapse collapse justify-content-center collapse">
                        <ul class=" nav navbar-nav">
                            <li class="active">
                                <a href="javascript:void(0);">Home</a>
                                 <ul class="sub-menu">
                                    <li><a routerLink="/index">Home-1</a></li>
                                    <li><a routerLink="/index2">Home-2</a></li>
                                    <li><a routerLink="/index3">Home-3</a></li>
                                    <li><a routerLink="/index4">Home-4</a></li>
                                    <li><a routerLink="/index5">Home-5</a></li>                                                                                                                                  
                                </ul>                                                    
                            </li>

                            <li>
                                <a href="javascript:void(0);">About us</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/about/about1">About-1</a></li>
                                    <li><a routerLink="/about/about2">About-2</a></li>
                                </ul>                                                
                            </li>
                              
                            <li>
                                <a href="javascript:void(0);">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0);">Services</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/services/services1">Services-1</a></li>
                                            <li><a routerLink="/services/services2">Services-2</a></li>
                                            <li><a routerLink="/services/services-detail">Service Detail</a></li>
                                        </ul>                                                
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Team</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/team/team1">Our Team-1</a></li>
                                            <li><a routerLink="/team/team2">Our Team-2</a></li>
                                            <li><a routerLink="/team/team-single">Team Detail</a></li>
                                        </ul>                                                
                                    </li>
                                    <li><a routerLink="/other/our-history">Our History</a></li>                                                                                        
                                    <li><a routerLink="/other/icon-font">Fonts Icons </a></li>                                                                                     
                                    <li><a routerLink="/other/error404">Error 404</a></li>
                                                                                 
                                </ul>
                            </li>
                            
                            <li>
                                <a href="javascript:void(0);">Projects</a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:void(0);">Project Grid Type</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/projects/project-grid3-columns">3 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-grid4-columns">4 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-grid5-columns">5 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>                                            
                                    </li>
                                    <li><a href="javascript:void(0);">Project Masonry Type</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/projects/project-masonry3-columns">3 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-masonry4-columns">4 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-masonry5-columns">5 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>                                            
                                    </li>
                                    <li><a routerLink="/projects/project-carousel">Project Carousel</a></li>
                                    <li><a href="javascript:void(0);">Project Detail</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/projects/project-detail1">Project Detail-1</a></li>
                                                <li><a routerLink="/projects/project-detail2">Project Detail-2</a></li>
                                            </ul>                                            
                                    </li>                                        
                                </ul>
                            </li>
                                                                
                            <li>
                                <a href="javascript:void(0);">Blog</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/blog/blog-grid">Blog Grid</a></li>
                                    <li><a routerLink="/blog/blog-listing">Blog Listing</a></li>
                                    <li><a routerLink="/blog/blog-masonry">Blog Masonry</a></li>
                                    <li><a routerLink="/blog/blog-single">Blog Single</a></li>
                                    <li><a routerLink="/blog/post-right-sidebar">Post Right Sidebar</a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Shop</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/shop/shop">Shop Grid</a></li>
                                    <li><a routerLink="/shop/shop-list">Shop List</a></li>
                                    <li><a routerLink="/shop/shop-detail">Shop Detail</a></li>
                                    <li><a routerLink="/shop/shop-myaccount">My Account</a></li>
                                    <li><a routerLink="/shop/shop-cart">Cart</a></li>
                                    <li><a routerLink="/shop/shop-checkout">Checkout</a></li> 
                                </ul>
                            </li>                                                                                                                                                                                                                                                                                    

                            <li><a routerLink="/other/faq">FAQ</a></li>
                            <li><a routerLink="/other/contact1">Contact us</a></li>                                    
                       
                        </ul>
                    </div>
                                            
                      
                    <!-- SITE SEARCH -->
                    <div id="search"> 
                        <span class="close"></span>
                        <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                            <div class="input-group">
                                <input value="" name="q" type="search" placeholder="Type to search"/>
                                <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search arrow-animation"></i></button></span>
                            </div>   
                        </form>
                    </div>                                                                                                          
                    

                    
            </div>
        </div>
    </div>
</header>