<div class="section-full mobile-page-padding  p-t80 p-b50 bg-white">
    <div class="section-content">  
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-center">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                        <h3 class="sep-line-one">{{data.title}}</h3>
                    </div>
                </div>
            </div>                   
            <!-- TITLE END -->
         </div>
                                                             
         <div class=" filter-carousal-1-outer relative z-index1">
             <div class="container">
            <!-- TITLE START -->
                <div class="text-center clearfix filter-pos-right shadow m-b30">
                    <ul class="btn-filter-wrap">
                        <li class="btn-filter btn-active" data-filter="*">All</li>
                        <li class="btn-filter" data-filter=".col-one">Bathroom</li>
                        <li class="btn-filter" data-filter=".col-two">Decoration</li>
                        <li class="btn-filter" data-filter=".col-three">Kitchen</li>
                        <li class="btn-filter" data-filter=".col-four">Living room</li>
                    </ul>
                </div>
            </div>
            <!-- TITLE END -->
            <div class="filter-carousal-1  container-fluid p-b30">
                <!-- IMAGE CAROUSEL START -->
                <div class="section-content ">
                    <div class="owl-carousel owl-carousel-filter  owl-btn-bottom-center mfp-gallery navigation-with-name">
                        <!-- COLUMNS 1 --> 
                        <div *ngFor="let object of data.projects" class="item fadingcol {{object.category}} overflow-hide">
                            <app-elements-box5 [data]='object'></app-elements-box5>
                        </div>                                     
                    </div>
                </div>
            </div>
        </div>            
        
    </div>
</div>