<div class="section-full p-tb80 bg-white inner-page-padding">
    <div class="container-fluid">
        <div class="section-content">
            <!-- TITLE START -->
            <div class="section-head">
                <div class="sx-separator-outer separator-left">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Carousel style 2</h3>
                    </div>
                </div>
            </div>                   
            <!-- TITLE END -->                                 
            <div class="work-carousel-outer">
                <div class="owl-carousel mfp-gallery project-carousel project-carousel4 owl-btn-vertical-center">
                    <!-- COLUMNS 1 -->
                    <div class="item" *ngFor="let object of data">
                        <app-elements-box5 [data]='object'></app-elements-box5>
                    </div>                                                                                                                              
                 </div>
            </div> 
         </div>
     </div>
 </div>           