<footer class="site-footer footer-large  footer-dark	footer-wide">

    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top overlay-wraper {{ data.backExists=='1' ? 'bg-cover' : '' }}" style="background-image:url({{data.wallpaper}})">
        <div class="overlay-main {{ data.backExists=='1' ? 'sx-bg-secondry opacity-08' : '' }}"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-3 col-md-6 col-sm-6">  
                    <div class="widget widget_about">
                        <!--<h4 class="widget-title">About Company</h4>-->
                        <div class="logo-footer clearfix p-b15">
                            <a routerLink="/index"><img src="assets/images/Logo.png" alt=""></a>
                        </div>                            
                    </div>
                </div> 
                
                <!-- CONTACT US -->
                <div class="col-lg-7 col-md-6 col-sm-6">
                    <div class="widget widget_address_outer">
                        <h5 class="widget-title">Contact Us</h5>
                        <ul class="widget_address">
                            <li><span class="fa fa-map-marker"></span>&nbsp;Cuauhtemoc No. 95, 07210 Gustavo A. Madero, Ciudad México</li>
                            <li><a style="color: white;" href="mailto:chimeneas_villaseñor@yahoo.com.mx"><span class="fa fa-envelope"></span>&nbsp;chimeneas_villaseñor@yahoo.com.mx</a></li>
                            <li><a style="color: white;" href="tel:5512883155"><span class="fa fa-phone"></span>&nbsp;55-1288-3155</a></li>
                            <li><a style="color: white;" href="tel:5553063044"><span class="fa fa-phone"></span>&nbsp;55-5306-3044</a></li>
                        </ul>
                   
                    </div>                                              	
                </div>                                          
            </div>
        </div>   
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="sx-footer-bot-left">
                    <span class="copyrights-text">© 2025 Chimeneas Industriales Villaseñor. Desarrollado por <a href="https://abiquosoft.com/"></a>Abiquosoft.</span>
                </div>
            </div>
        </div>
    </div>
</footer>